* {
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  color: #000000;
  font-size: 100%; }

#container {
  width: 100%;
  padding: 50px 0;
  position: relative;
  font-size: .75em; }

.gallery {
  overflow: hidden;
  position: relative;
  width: 87.5%;
  margin-right: 6.25%;
  margin-left: 6.25%; }
  .gallery ul {
    list-style: none; }
  .gallery .imageGallery {
    list-style: none;
    margin: 34px 0 15px 0;
    padding: 0;
    background: transparent;
    position: relative; }
    .gallery .imageGallery li {
      text-align: center;
      float: left;
      position: relative;
      display: none; }
      .gallery .imageGallery li.active {
        display: block; }
      .gallery .imageGallery li .image_container {
        position: relative;
        margin: 0 auto; }
      .gallery .imageGallery li .hotspot {
        position: absolute;
        border: 2px solid #ff0000; }
      .gallery .imageGallery li .overlay {
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        background-color: rgba(255, 255, 255, 0.8); }
        .gallery .imageGallery li .overlay .overlay_container {
          width: 85%;
          height: 85%;
          background-color: #fff;
          top: 60px;
          left: 7.5%;
          border: 2px solid #000;
          position: absolute; }
          .gallery .imageGallery li .overlay .overlay_container .overlay_content {
            height: 100%;
            width: 100%;
            position: absolute;
            overflow: scroll;
            text-align: left; }
          .gallery .imageGallery li .overlay .overlay_container .left_column {
            width: 50%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute; }
            .gallery .imageGallery li .overlay .overlay_container .left_column img {
              max-height: 100%;
              max-width: 100%;
              width: auto;
              height: auto;
              position: relative; }
            .gallery .imageGallery li .overlay .overlay_container .left_column .tombstone {
              width: 40%;
              margin: 2% 10%; }
          .gallery .imageGallery li .overlay .overlay_container .right_column {
            width: 40%;
            height: 90%;
            right: 5%;
            top: 5%;
            position: absolute; }
          .gallery .imageGallery li .overlay .overlay_container .close {
            position: absolute;
            top: -50px;
            right: -2px;
            border: 2px solid #000;
            padding: 10px; }
    .gallery .imageGallery img {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 100%; }
    .gallery .imageGallery .image_border {
      border: 5px solid #000; }
    .gallery .imageGallery .gallery_text {
      text-align: left;
      padding: 10px; }
  .gallery .theDots {
    width: 100%;
    margin-bottom: 0px;
    z-index: 100;
    position: absolute;
    font-size: .83333333em; }
    .gallery .theDots ul {
      float: right;
      width: 100%;
      height: 34px;
      position: relative; }
    .gallery .theDots li {
      list-style: none;
      height: 34px;
      width: 2%;
      padding: 0 .25%;
      position: relative;
      float: left;
      text-align: center; }
      .gallery .theDots li div {
        height: 8px;
        border: 2px solid #000;
        border-bottom: none;
        margin-top: 24px; }
      .gallery .theDots li.bookmark div {
        visibility: visible;
        border: 2px solid #000000;
        border-bottom: none;
        height: 32px;
        margin: 0 auto;
        cursor: pointer; }
        .gallery .theDots li.bookmark div:hover {
          background-color: #000000; }
      .gallery .theDots li.active div {
        background-color: #000000;
        color: #fff; }

.gallery_controls {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  height: 38px;
  z-index: 90;
  font-size: 1.72727272727273em; }
  .gallery_controls .prev {
    width: 6.25%;
    height: 26px;
    position: absolute;
    left: 0;
    top: -80px;
    bottom: 0;
    margin: auto; }
    .gallery_controls .prev:hover {
      cursor: pointer; }
  .gallery_controls .next {
    width: 6.25%;
    height: 26px;
    position: absolute;
    right: 0;
    top: -80px;
    bottom: 0;
    margin: auto; }
    .gallery_controls .next:hover {
      cursor: pointer; }
