* {
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  color: #000000;
  background-color: #9b9992;
  font-size: 100%;
  font-family: 'FuturaLTPro-Heavy', sans-serif;
  font-weight: normal; }

img {
  display: block; }

#container {
  width: 100%;
  padding: 15px 0 0;
  position: relative;
  font-size: .75em; }
  #container.AMA .intro_screen {
    left: 50%; }
  #container.AMA .imageGallery {
    left: 100%; }
  #container.AMA .overlay_content {
    text-align: center; }
  #container.AMA .next, #container.AMA .prev {
    top: 0; }
  #container.AMA .overlay {
    width: 63%; }
  #container.AMA .overlay_container {
    top: .5%;
    right: 0;
    bottom: 2.5%;
    left: 2.5%; }

.gallery {
  overflow: hidden;
  position: relative;
  width: 85%;
  margin-right: 7.5%;
  margin-left: 7.5%; }
  .gallery ul {
    list-style: none; }
  .gallery .intro_screen {
    width: 48%;
    height: 85%;
    top: 68px;
    position: absolute;
    font-size: 1.33333333333333em; }
    .gallery .intro_screen .intro_padding {
      border: 3px solid black;
      height: 100%;
      position: relative;
      background-color: #eeebe0; }
      .gallery .intro_screen .intro_padding .text-content {
        bottom: 0px;
        padding: 40px;
        position: absolute; }
        .gallery .intro_screen .intro_padding .text-content h2 {
          padding-bottom: 45px;
          font-size: 1.75em;
          text-align: right;
          text-transform: lowercase;
          font-weight: normal; }
  .gallery .imageGallery {
    list-style: none;
    margin: 50px 0 15px 0;
    padding: 0;
    background: transparent;
    position: relative;
    left: 50%; }
    .gallery .imageGallery li.single_image {
      text-align: center;
      float: left;
      position: absolute;
      display: block;
      /* background-color: #fff; */ }
      .gallery .imageGallery li.single_image.active {
        display: block; }
      .gallery .imageGallery li.single_image.moving {
        display: block; }
      .gallery .imageGallery li.single_image .image_container {
        position: relative;
        margin: 0 auto; }
      .gallery .imageGallery li.single_image .hotspot {
        position: absolute;
        border: 2px solid;
        border-color: rgba(213, 28, 56, 0); }
      .gallery .imageGallery li.single_image .overlay {
        position: absolute;
        z-index: 10000;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        display: none; }
        .gallery .imageGallery li.single_image .overlay.instructions .overlay_container {
          left: 25%;
          top: 30%; }
        .gallery .imageGallery li.single_image .overlay .overlay_container {
          width: 50%;
          height: auto;
          /* min-height:50%; */
          background-color: #eeebe0;
          top: 60px;
          right: 7.5%;
          border: 2px solid;
          border-color: #d51c38;
          margin-top: 54px;
          position: absolute;
          -moz-box-shadow: 0px 3px 10px rgba(68, 68, 68, 0.6);
          -webkit-box-shadow: 0px 3px 10px rgba(68, 68, 68, 0.6);
          box-shadow: 0px 3px 10px rgba(68, 68, 68, 0.6); }
          .gallery .imageGallery li.single_image .overlay .overlay_container.full {
            width: 90%; }
          .gallery .imageGallery li.single_image .overlay .overlay_container .overlay_content {
            height: auto;
            width: 100%;
            position: static;
            /* overflow: scroll; */
            text-align: left; }
          .gallery .imageGallery li.single_image .overlay .overlay_container img {
            max-height: 460px;
            max-width: 100%;
            width: auto;
            height: auto;
            position: relative;
            margin: 0 auto; }
          .gallery .imageGallery li.single_image .overlay .overlay_container .tombstone {
            width: 100%;
            margin: 2% 0 0;
            text-align: left; }
          .gallery .imageGallery li.single_image .overlay .overlay_container .left_column {
            width: 50%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute; }
          .gallery .imageGallery li.single_image .overlay .overlay_container .right_column {
            width: 40%;
            height: 90%;
            padding: 5%;
            position: relative;
            float: right; }
          .gallery .imageGallery li.single_image .overlay .overlay_container .two_column {
            width: 90%;
            height: 90%;
            padding: 5%;
            position: relative;
            float: right; }
          .gallery .imageGallery li.single_image .overlay .overlay_container .close {
            position: absolute;
            top: -50px;
            right: -2px;
            border: 2px solid;
            border-color: #d51c38;
            color: #d51c38;
            padding: 10px;
            background-color: #eeebe0;
            -moz-box-shadow: 0px 3px 10px rgba(68, 68, 68, 0.6);
            -webkit-box-shadow: 0px 3px 10px rgba(68, 68, 68, 0.6);
            box-shadow: 0px 3px 10px rgba(68, 68, 68, 0.6); }
    .gallery .imageGallery img {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 100%; }
    .gallery .imageGallery .gallery_text {
      text-align: left;
      padding: 10px; }
  .gallery .theDots {
    width: 100%;
    margin-bottom: 0px;
    z-index: 100;
    position: absolute;
    font-size: .83333333em; }
    .gallery .theDots ul {
      float: right;
      width: 100%;
      height: 45px;
      position: relative; }
    .gallery .theDots li {
      list-style: none;
      height: 45px;
      width: 1.423%;
      padding: 0 .25%;
      position: relative;
      float: left;
      text-align: center;
      overflow: hidden; }
      .gallery .theDots li div.page {
        height: 6px;
        width: 6px;
        border: 2px solid #000;
        background-color: #000;
        margin-top: 12px;
        border-radius: 5px; }
      .gallery .theDots li.bookmark .arrow-top {
        background-color: black;
        height: 35px;
        width: 12px;
        margin: 0 auto;
        cursor: pointer; }
      .gallery .theDots li.bookmark .arrow-bottom {
        width: 0;
        height: 0;
        margin: auto;
        border: 6px solid transparent;
        border-top-color: black; }
      .gallery .theDots li:hover div.page {
        background-color: #e71c38;
        border-color: #e71c38; }
      .gallery .theDots li:hover .arrow-top {
        background-color: #e71c38; }
      .gallery .theDots li:hover .arrow-bottom {
        border-top-color: #e71c38; }
      .gallery .theDots li.active div.page {
        background-color: #e71c38;
        border-color: #e71c38; }
      .gallery .theDots li.active .arrow-top {
        background-color: #e71c38; }
      .gallery .theDots li.active .arrow-bottom {
        border-top-color: #e71c38; }

.gallery_controls {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  height: 38px;
  z-index: 1;
  font-size: 1.72727272727273em; }
  .gallery_controls .prev {
    width: 6.25%;
    height: 26px;
    position: absolute;
    left: 0;
    top: -80px;
    bottom: 0;
    margin: auto;
    display: none; }
    .gallery_controls .prev:hover {
      cursor: pointer; }
    .gallery_controls .prev .left_arrow {
      width: 0;
      height: 0;
      border: 16px solid transparent;
      border-right-color: black;
      margin: 0 auto; }
  .gallery_controls .next {
    width: 6.25%;
    height: 26px;
    position: absolute;
    right: 0;
    top: -80px;
    bottom: 0;
    margin: auto; }
    .gallery_controls .next:hover {
      cursor: pointer; }
    .gallery_controls .next .right_arrow {
      width: 0;
      height: 0;
      border: 16px solid transparent;
      border-left-color: black;
      margin: 0 auto; }
