* {
	padding:0;
	margin:0;
}
body {
	width: 100%;
	color:#000000;
	font-size: 100%;
}
#container {
	width: 100%;
	padding: 50px 0;
	position: relative;
	font-size: .75em;
}
.gallery {
	overflow: hidden;
    position: relative;
    width: 87.5%;
    margin-right: 6.25%;
    margin-left: 6.25%;
	ul {
		list-style: none;
	}
	.imageGallery {
		list-style: none;
		margin: 34px 0 15px 0;
		padding: 0;
		background: transparent;
		position: relative;
		li {
			text-align: center;
			float: left;
			position: absolute;
			display: none;
			background-color: #fff;
			z-index:400;
			&.active {
				display: block;
				z-index: 500;
			}
			&.moving {
				z-index: 1000;
				display: block;
			}
			&.skipping {
				z-index: 450;
			}
			.image_container {
				position: relative;
				margin: 0 auto;
			}
			.hotspot {
				position: absolute;
				border:2px solid #ff0000;
			}
			.overlay {
				position: absolute;
				z-index:10000;
				top: 0;
				left: 0;
				width: 50%;
				height:100%;
				display: none;
				.overlay_container {
					width: 90%;
					height: auto;
					min-height:50%;
					background-color: #fff;
					top: 60px;
					left: 7.5%;
					border: 2px solid #000;
					position: absolute;
					-moz-box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
					-webkit-box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
					box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
					.overlay_content {
						height: auto;
						width: 100%;
						position: static;
						overflow: scroll;
						text-align: left;
					}
					.left_column {
						width: 50%;
						height: 100%;
						left: 0;
						top:0;
						position: absolute;
						img {
							max-height: 100%;
							max-width: 100%;
							width: auto;
							height: auto;
							position: relative;
						}
						.tombstone {
							width: 40%;
							margin: 2% 10%;
						}

					}
					.right_column {
						width: 40%;
						height: 90%;
						padding: 5%;
						position: relative;
						float:right;
					}
					.close {
						position: absolute;
						top:-50px;
						right:-2px;
						border:2px solid #000;
						padding: 10px;
						background-color:#fff;
						-moz-box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
						-webkit-box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
						box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
					}
				}
			}
		}
		img {
			width: 100%;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
		.image_border {
			border-top:2px solid #000;
		}

		.gallery_text {
			text-align: left;
			padding: 10px;
		}
	}
	.theDots {
		width: 100%;
		margin-bottom: 0px;
		z-index: 100;
		position: absolute;
		font-size: .83333333em;
		ul {
			float:right;
			width: 100%;
			height: 34px;
			position: relative;
		}
		li {
			list-style: none;
			height: 34px;
			width: 2%;
			padding: 0 .25%;
			position: relative;
			float: left;
			text-align: center;
			div {
				height: 8px;
				border:2px solid #000;
				border-bottom:none;
				margin-top: 24px;
			}
			&.bookmark div {
				visibility: visible;
				border:2px solid #000000;
				border-bottom:none;
				height: 32px;
				margin: 0 auto;
				cursor: pointer;
				&:hover {
					background-color: #000000;
				}
			}
			&.active div {
				background-color:#000000;
				color:#fff;
			}
		}
	}
}
.gallery_controls {
	position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    height: 38px;
    z-index: 90;
    font-size: 1.72727272727273em;
	.prev {
		width: 6.25%;
		height:26px;
		position: absolute;
		left: 0;
		top: -80px;
		bottom: 0;
		margin: auto;
		&:hover {
			cursor:pointer;
		}
	}
	.next {
		width: 6.25%;
		height:26px;
		position: absolute;
		right: 0;
		top: -80px;
		bottom: 0;
		margin: auto;
		&:hover {
			cursor:pointer;
		}
	}
}



