* {
	padding:0;
	margin:0;
}
body {
	width: 100%;
	color:#000000;
	background-color: #9b9992;
	font-size: 100%;
	font-family: 'FuturaLTPro-Heavy', sans-serif;
	font-weight:normal;
}
img {
	display: block;
}
#container {
	width: 100%;
	padding: 15px 0 0;
	position: relative;
	font-size: .75em;
	&.AMA {
		.intro_screen {
			left: 50%;
			.intro-image {
				position: absolute;
			    right: 105.4%;
			    width: 100%;
			    height: 100%;
				img{
					width: 100%;
				    position: absolute;
				    height: auto;
				    bottom: 0;
				}
			}
		}
		.imageGallery {
			left: 100%;
			.image_container img {
				width: 100%;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
		.overlay_content {
			text-align: center;
		}
		.next, .prev {
			top: 0;
		}
		.overlay {
			width: 63%;
			font-size: 1em;
		}
		.overlay_container {
			top:.5%;
			right:0;
			bottom:2.5%;
			left: 2.5%;
			border:none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			background-color: transparent;
		}
		.two_column {
			background-color: #eeebe0;
			border: 2px solid;
			border-color:rgba(213,28,56,1);
			-moz-box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
			-webkit-box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
			box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
		}
	}
}
.gallery {
	overflow: hidden;
    position: relative;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
	ul {
		list-style: none;
	}
	.intro_screen {
		width: 48%;
		height: 85%;
		top: 68px;
		position: absolute;
		font-size: 1.33333333333333em;
		.intro_padding {
			border:3px solid black;
			height: 100%;
			position: relative;
			background-color: #eeebe0;
			.text-content {
				bottom:0px;
				padding: 40px;
				position: absolute;
				h2 {
					padding-bottom: 45px;
					font-size: 1.75em;
					text-align: right;
					text-transform: lowercase;
					font-weight: normal;
				}
			}
			.intro_hotspot {
				color:rgba(213, 28, 56, 1);
				text-decoration: underline;
				display: inline;
			}
			.intro_overlay {
				font-size: .75em !important;
				.tombstone {
					margin: 0;
				}
			}
			.overlay {
				left: -65%;
			}
		}
	}
	.imageGallery {
		list-style: none;
		margin: 50px 0 15px 0;
		padding: 0;
		background: transparent;
		position: relative;
		left:50%;
		li.single_image {
			text-align: center;
			float: left;
			position: absolute;
			display: block;
			/* background-color: #fff; */
			&.active {
				display: block;
			}
			&.moving {
				display: block;
			}
			&.skipping {
			}
			.image_container {
				position: relative;
				margin: 0 auto;
			}
			.hotspot {
				position: absolute;
				border: 2px solid;
				border-color:rgba(213,28,56,1);
			}
		}
		img {
			width: 870px;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
		.image_border {
		}

		.gallery_text {
			text-align: left;
			padding: 10px;
		}
	}
	.theDots {
		width: 100%;
		margin-bottom: 0px;
		z-index: 100;
		position: absolute;
		font-size: .83333333em;
		ul {
			float:right;
			width: 100%;
			height: 45px;
			position: relative;
		}
		li {
			list-style: none;
			height: 45px;
			width: 1.423%;
			padding: 0 .25%;
			position: relative;
			float: left;
			text-align: center;
			overflow: hidden;
			div.page {
				height: 6px;
				width: 6px;
				border:2px solid #000;
				background-color: #000;
				margin-top: 12px;
				border-radius: 5px;
			}
			&.bookmark .arrow-top {
				background-color: black;
				height: 35px;
				width: 12px;
				margin: 0 auto;
				cursor: pointer;

			}
			
			&.bookmark .arrow-bottom {
				width: 0;
				height: 0;
				margin: auto;
				border: 6px solid transparent;
				border-top-color: black;
			}
			
			&.active {
				div.page {
					background-color: #e71c38;
					border-color: #e71c38;
				}
				.arrow-top {
					background-color: #e71c38;
				}
				.arrow-bottom {
					border-top-color: #e71c38;
				}
			}
		}
	}
}
.overlay {
	position: absolute;
	z-index:10000;
	top: 0;
	left: 0;
	width: 50%;
	height:100%;
	display: none;
	&.instructions {
		.overlay_container{
			left:25%;
			top:30%;
		}
	}
	.overlay_container {
		width: 50%;
		height: auto;
		/* min-height:50%; */
		background-color: #eeebe0;
		top: 60px;
		right: 7.5%;
		border: 2px solid;
		border-color:rgba(213,28,56,1);
		margin-top: 54px;
		position: absolute;
		-moz-box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
		-webkit-box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
		box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
		&.full {
			width: 90%;
		}
		.overlay_content {
			height: auto;
			width: 100%;
			position: static;
			/* overflow: scroll; */
			text-align: left;
		}
		img {
			max-height: 637px;
			max-width: 100%;
			width: auto;
			height: auto;
			position: relative;
			margin: 0 auto;
		}
		.tombstone {
			width: 100%;
			margin: 2% 0 0;
			text-align: left;
		}
		.left_column {
			width: 50%;
			height: 100%;
			left: 0;
			top:0;
			position: absolute;
		}
		.right_column {
			width: 40%;
			height: 90%;
			padding: 5%;
			position: relative;
			float:right;
		}
		.two_column {
			width: 96%;
			height: 96%;
			padding: 2%;
			position: relative;
			float:right;
		}
		.close {
			position: absolute;
			top:-50px;
			right:0px;
			border:2px solid;
			border-color:rgba(213,28,56,1);
			color:rgba(213,28,56,1);;
			padding: 10px;
			background-color: #eeebe0;
			-moz-box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
			-webkit-box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
			box-shadow: 0px 3px 10px rgba(68,68,68,0.6);
		}
	}
}
.gallery_controls {
	position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    height: 38px;
    z-index: 1;
    font-size: 1.72727272727273em;
	.prev {
		width: 6.25%;
		height:26px;
		position: absolute;
		left: 0;
		top: -80px;
		bottom: 0;
		margin: auto;
		display: none;
		&:hover {
			cursor:pointer;
		}
		.left_arrow {
			width: 0;
			height: 0;
			border:16px solid transparent;
			border-right-color:black;
			margin: 0 auto;
		}
	}
	.next {
		width: 6.25%;
		height:26px;
		position: absolute;
		right: 0;
		top: -80px;
		bottom: 0;
		margin: auto;
		&:hover {
			cursor:pointer;
		}
		.right_arrow {
			width: 0;
			height: 0;
			border:16px solid transparent;
			border-left-color:black;
			margin: 0 auto;
		}
	}
}



